<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="QuickIO.NET" version="2.6.2.0" targetFramework="net452" />
  <package id="ValveKeyValue" version="0.0.1" targetFramework="net452" />
  <package id="YoutubeExtractor" version="0.10.11" targetFramework="net452" />
</packages>